@font-face {
    font-family: Montserrat-Light;
    src: url('/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    src: url('/fonts/Montserrat-Medium.ttf');
}

html {
    font-family: Montserrat-Medium;
}
